body{
    background-color: #343A40;
    justify-content: center;
}

.carousel{
    background-color: #373B3F;
}

.photo-pay{
    max-width: 70%;
    max-height: 50%;
    margin: auto;
}

.photo-por{
    max-width: 35%;
    max-height: 20%;
    margin: auto;
}
.container{
    margin: 10px;

}

#titre{
    text-decoration: underline;
}

.rtn{
    align-content: left;
}

#description{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

a{
    color: #3498DB;
}